:root{
    --color1: rgba(241,196,15 ,1);
    --color2: red;
    --direction: 45;
}
body{
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(var(--color1) ,var(--color2))  ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header{
 width: 100%;
 font-size: 4em;
 padding: 30px;
 font-family: monospace;
 color: rgb(30, 22, 59);
 text-align: center;
}
.input-box{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: rgba(255,255,255 ,0.1);
}
.input-box li{
  display: flex;
  flex-direction: column;
}
.input-box input{
  padding: 0px;
  margin: 10px;
  width: 100px;
  height: 40px;
  
  border: 0px;
  box-shadow: 2px 2px 7px  rgb(78, 72, 72);
}
@media only screen and(max-width:600px)
{
  header{
    font-size:3em;
  }
}