body{
    background-color: var(--bgcolor, white);
    color: var(--fcolor, black);
    --primary-color: rgba(241,196,15 ,1);
    --secondary-color: red;
}

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 30px;
}

.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn{
   border: var(--bg,black) 2px solid;
   padding: 5px 14px;
   margin: 5px;
}
.btn:hover{
    background-color: var(--bg, black) ;
    color: white;
}

.slider{
    position: absolute;
    background: rgba(0,0,0,0.4);
    padding: 1% 2%;
    border-radius: 5px;
    right: 10px;
    bottom: 10px;
    
}
.slider >*{
    display: block;
}

.color-boxes{
   background: var(--secondary-color);
   margin: auto;
   width: fit-content;
   height: fit-content;
   border-radius: 5px;
   /* box-shadow: 7px 2px 10px black -2px 0px 4px black; */
   transform: perspective(500px) rotateY( calc(var(--slider) * 1deg));
   transition: transform 0.3s;
   box-shadow: 10px 8px 16px  rgba(0,0,0,0.4);
   

}
.color-box{
    padding: 10px 15px;
    margin-bottom: 5px;
   box-shadow: 10px 8px 16px  rgba(0,0,0,0.4);
    border-radius: 4px;
    border: 1px solid  rgba(0,0,0,0.2);
}

.color-box:nth-child(1) {
    background: var(--bg-1)
  }
  .color-box:nth-child(2) {
    background: var(--bg-2)
  }
  .color-box:nth-child(3) {
    background: var(--bg-3)
  }
  .color-box:nth-child(4) {
    background: var(--bg-4)
  }
  .color-box:nth-child(5) {
    background: var(--bg-5)
  }
  .color-box:nth-child(6) {
    background: var(--bg-6)
  }